#############
#   Turso   #
#############
# Get it from: turso.tech -> dashboard -> connect
TURSO_CONNECTION_URL="<CONNECTION_STRING>"
# Get it from: turso.tech -> dashboard -> connect -> create token
TURSO_AUTH_TOKEN="<TOKEN>
