---
import { ClientRouter } from 'astro:transitions';

import '@/styles/reset.css';
import '@/styles/global.css';
import '@/styles/theme.css';

import { Header } from '@/components/ui/header/header';

interface Props {
    title?: string;
}

const { title = 'Sartre' } = Astro.props;
const sessionToken = Astro.cookies.get('better-auth.session_token');
const isLoggedIn = !!sessionToken?.value;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ClientRouter />
    </head>
    <body>
        <Header client:load isLoggedIn={isLoggedIn} />
        <main>
            <slot />
        </main>
    </body>
</html>
